/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333333;
    background-image: url(https://lh5.googleusercontent.com/proxy/5iIoW8h1wl8T-G4KqQ1sDWabc_PnB8v0dPRR8UKJCyFXFdTrljo8mXT8DERz64-63J5M78dPm6nNtYfELbdqSXK7xjGYYy7dwJnXFiaHDIpK3w);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#LOGO {
    margin-bottom: 5px;
    text-align:left;
    height: 30px;
}
.btn-empezar {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 50px;
    color: #fff;
    background-color: #5a42c4;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn-empezar:hover {
    background-color: #9500b3;
}
header {
    background-image: url('Images/fondo3.jpg'); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir el área del encabezado */
    background-position: center; /* Centra la imagen en el encabezado */
    color: #fff; /* Color del texto */
    padding: 10px 0;
    text-align: center;
    height: 1000px; /* Ajusta la altura según sea necesario */
}

nav {
    background: #201f27;
    color: #000000;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

main {
    padding: 20px;
    background: #d6d4d4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2, h3 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.img-container {
    text-align: center;
    margin: 20px 0;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el pie de página */
footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: auto; /* Empuja el footer hacia abajo */

}